<template>
  <header>
    <a @click="openNav" class="logo menu"
      ><i class="material-icons-outlined menu">menu</i></a
    >

    <a href="" class="logo space">Shopper</a>
    <ul>
      <li><router-link class="item" to="/">Home</router-link></li>
      <li><router-link class="item" to="/about">News</router-link></li>
      <li><router-link class="item" to="/carousel">Carousel</router-link></li>
      <li><router-link class="item" to="/about">Contact</router-link></li>
      <li><router-link class="item" to="/about">Logout</router-link></li>
    </ul>
  </header>
  <div class="nav">
    <div class="nav__links">
      <router-link to="/" class="nav__link">
        <i class="material-icons">dashboard</i>
        Dashboard
      </router-link>
      <router-link to="/" class="nav__link">
        <i class="material-icons">dashboard</i>
        Dashboard
      </router-link>
      <router-link to="/about" class="nav__link">
        <i class="material-icons">dashboard</i>
        Dashboard
      </router-link>
    </div>
    <div class="nav__overlay" @click="closeNav"></div>
  </div>
  <div id="main"></div>
</template>

<script>
export default {
  setup() {
    window.addEventListener("load", () => {
      document.body.classList.remove("preload");
    });

    const openNav = () => {
      const nav = document.querySelector(".nav");
      nav.classList.add("nav--open");
    };
    const closeNav = () => {
      const nav = document.querySelector(".nav");
      nav.classList.remove("nav--open");
    };
    return {
      openNav,
      closeNav,
    };
  },
};
</script>

<style scoped>
.preload * {
  transition: none !important;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background: #ffffff;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
  display: flex;
  align-items: center;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 15px;
}

.nav__link--active {
  color: #009578;
}

.nav__link--active,
.nav__link:hover {
  background: #eeeeee;
}

.nav__overlay {
  position: absolute;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}
header {
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: #fff !important;
  box-shadow: 1px 1px 1px rgba(78, 56, 56, 0.2) !important;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 99;
}
.logo {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu {
  display: none;
}
.space {
  padding-left: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  overflow: hidden;
}

ul li {
  float: left;
}

li .item {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .item:hover {
  background-color: rgb(226, 226, 226);
}

.router-link-exact-active {
  background-color: rgb(226, 226, 226);
}
.router-link-active {
  background-color: rgb(226, 226, 226);
}
/*  */
@media only screen and (max-width: 576px) {
  ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .space {
    padding-left: 0;
  }
}
</style>
