<template>
  <div class="home">
    <div class="container">
      <h5>Home</h5>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { computed, reactive } from "vue";
import { useHead } from "@vueuse/head";
export default {
  name: "Home",

  setup() {
    const siteData = reactive({
      title: `Material | Home`,
      description: `My beautiful website`,
    });
    useHead({
      // Can be static or computed
      title: computed(() => siteData.title),
      meta: [
        {
          name: `description`,
          content: computed(() => siteData.description),
        },
      ],
    });
  },
};
</script>
<style>
.home {
  min-height: 100vh;
  margin-top: 55px;
  margin-bottom: 55px;
}
</style>
