<template>
  <div class="products">
    <div class="container">
      <div class="row" ref="scrollComponent">
        <div class="col s6 m4" v-for="product in products" :key="product._id">
          <div class="card">
            <div class="card-image">
              <img :src="product.image" />
              <!-- <span class="card-title">{{ product.name }}</span> -->
            </div>
            <div class="card-title">
              <div class="card-title">{{ product.name }}</div>
              <span>Price : {{ product.price }}</span>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </div>
      </div>
      <div id="coolDiv"></div>
    </div>
  </div>
</template>
<script>
import { defineComponent, computed, reactive, onMounted } from "vue";
import { useHead } from "@vueuse/head";
import { useStore } from "vuex";
export default defineComponent({
  setup() {
    const siteData = reactive({
      title: `Material | products`,
      description: `My beautiful website`,
    });

    useHead({
      // Can be static or computed
      title: computed(() => siteData.title),
      meta: [
        {
          name: `description`,
          content: computed(() => siteData.description),
        },
      ],
    });
    const store = useStore();
    store.dispatch("getAllProducts");

    const products = computed(() => {
      return store.getters.getProducts;
    });
    const page = computed(() => {
      return store.getters.getPage;
    });
    // const pages = computed(() => {
    //   return store.getters.getPages;
    // });
    const count = computed(() => {
      return store.state.pagination.count;
    });
    const limit = computed(() => {
      return store.state.pagination.limit;
    });
    onMounted(() => {
      // window.addEventListener("scroll", handleScroll);
      const observer = new IntersectionObserver((entries) => {
        const firstEntry = entries[0];
        if (firstEntry.isIntersecting) {
          if (count.value <= limit.value) return;

          if (page.value != null) {
            store.dispatch("paginateProducts", {
              page: page.value,
            });
          }
        }
      });

      const coolDiv = document.querySelector("#coolDiv");
      observer.observe(coolDiv);
    });

    return {
      products,
    };
  },
});
</script>
<style scoped>
.products {
  /* min-height: 100vh; */
  margin-top: 55px;
  margin-bottom: 55px;
}
.load {
  /* margin-bottom: 100px; */
}
img {
  object-fit: cover;
  height: 165px;
}

span {
  text-transform: capitalize;
  padding: 2px 12px;
  font-weight: 400;
  font-size: 14px;
}
div .card-title {
  text-transform: capitalize;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 16px !important;
  margin: 0 !important;
}
</style>
